* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-custom {
  display: flex;
  width: 100%;
}

.content {
  flex-basis: 70%;
  background-color: #fff;
  padding: 2rem;
  padding-bottom: 800px;
}
.sidebar {
  position: relative;
}
.sidebar .summary-box {
  border: 1px solid black;
  overflow-y: scroll;
  max-height: 40vh;
  position: fixed;
}
.footer-container {
  position: relative;
}

.sidebar .summary-heading {
  background-color: aquamarine;
  top: 0;
  width: 100%;
}
.sidebar .summary-heading h3 {
  width: 100%;
  margin: 0;
  padding: 0;
}

.sidebar .info {
  /* width: 100%; */
  padding: 10px;
}
p {
  margin-bottom: 2rem !important;
}

.arrow {
  position: fixed;
  top: 2rem;
  font-size: 30px;
}

.pointer-icon {
  font-size: 30px;
  width: 30px;
}

.bottom-height {
  height: 600px;
}
